{# app/Resources/views/student.html.twig #}
{% extends 'base-admin.html.twig' %}

{% block pageTitle %}Parents{% endblock %}
{% block title %}Parents{% endblock %}
{% block script %}
	$(document).ready(function() {
	    $('#results').DataTable({
	    	paging: false
	    });
	    $('.delete_row').click(function(){
    		return confirm("Are you sure you want to delete?");
		});
	} );
{% endblock %}

{% block body %}
    <div style="margin-bottom:10px;">
    	<a class="btn btn-default" href="/admin/parent/create" role="button">New parent</a>
	</div>
	<table id="results" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Kids</th>
                <th>Kids Grades</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
	    {% for user in users %}
	    	<tr>
	    		<td data-sort="{{ user.lastName }}">{{ user.lastName }}</td>
	        	<td>{{ user.firstName }}</td>
	        	{% if user.students is not empty %}
	        	    {% for student in user.students %}
	        	   	<td>
        				<div>{{ student }}</div>
        			</td>
    				{% endfor %}
    			{% else %}
    				<td>Not assigned</td>
    			{% endif %}
    			<td width="10"><a href='/admin/parent/grade/{{ user.id }}'>Grades</a></td>
	        	<td width="10"><a href='/admin/parent/edit/{{ user.id }}'>Edit</a></td>
	        	<td class="delete_row" width="10"><a href='/admin/parent/delete/{{ user.id }}'>Delete</a></td>
	        </tr>
	    {% endfor %}
    	</tbody>        
    </table>
{% endblock %}
