{# app/Resources/views/period.html.twig #}
{% extends 'base-admin.html.twig' %}

{% block pageTitle %}Periods{% endblock %}
{% block title %}Periods{% endblock %}
{% block script %}
	$(document).ready(function() {
	    $('#results').DataTable({
	    	paging: false
	    });
	    $('.delete_row').click(function(){
    		return confirm("Are you sure you want to delete?");
		});
	} );
{% endblock %}

{% block body %}
    <div style="margin-bottom:10px;">
    	<a class="btn btn-default" href="/admin/period/create" role="button">New period</a>
	</div>
	<table id="results" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
	    {% for period in periods %}
	    	<tr>
	        	<td data-sort="{{ period.ordinal }}">{{ period.name }}</td>
	        	<td>{{ period.startTime|date("H:i") }}</td>
	        	<td>{{ period.endTime|date("H:i") }}</td>
	        	<td width="10"><a href='/admin/period/edit/{{ period.id }}'>Edit</a></td>
	        	<td class="delete_row" width="10"><a href='/admin/period/delete/{{ period.id }}'>Delete</a></td>
	        </tr>
	    {% endfor %}
    	</tbody>        
    </table>
{% endblock %}
