{% extends 'base-print.html.twig' %}

{% block title %}Окончательные оценки за год{% endblock %}

{% block body %}

<div class="container">

  <h3>Окончательные оценки за текущий год</h3>
  
  <p />
  <p />

  <div style="margin-bottom:10px"></div>
  <!-- Example row of columns -->
	<table width="100%">
		<thead>
    		<th width="20%">Класс</th>
    		<th width="20%">Фамилия</th>
    		<th width="20%">Имя</th>
    		<th width="20%">Оценка</th>
    		<th width="20%">Посещаемость</th>
    		<th width="20%">Final</th>
    	</thead>
    	<tbody>
    	{% set className = '' %}
    	{% for result in results %}
    		{% if result.name != className %}
    			{% set className = result.name %}
    			<tr>
    				<td colspan="6"><hr/></td>
    			</tr> 
    		{% endif %}
	    	<tr>
		    	<td>{{ result.name }}</td>
		    	<td>{{ result.lastName }}</td>
		    	<td>{{ result.firstName }}</td>
		    	<td>{{ result.grade|round(2) }}</td>
		    	<td>{{ result.attendanceGrade }} / {{ result.attendanceMaxGrade }} ({{ result.attendancePercentage }}%)</td>
		    	<td>{{ result.grade|round(2) * 0.9 + result.attendancePercentage * 0.1  }}</td>
	    	</tr>
	    {% endfor %}
		</tbody>
    </table>
    <p />
    <p />
    <p />
</div>
{% endblock %} 