{# app/Resources/views/teacher/grades.html.twig #}
{% extends 'base-print.html.twig' %}

{% block title %}Grades{% endblock %}

{% block body %}

<div class="container">
  <!-- Example row of columns -->

	{% for examStudent in examStudents %}
		<div style="float:left;"><img src="/logo.png" alt="logo" style="margin-left:20px;margin-top:20px;margin-bottom:20px;width:130px;height:130px;"></img></div>
	 	<div>
	 	<div style="float:right;width:150px; height:170px;">&nbsp;</div>
	 	<h1 class="middle">Аттестат</h1>
	 	<h2 class="underline italic bold middle">{{ examStudent.student }}</h2>
		<h4 class="middle">{{ examStudent.class.name }}</h4>
		<h4 class="middle">{{ examStudent.class.year.name }}</h4>
		</div>
		<table width="100%">
			<thead>
	    		<th width="30%"><h3>Предмет</h3></th>
	    		{% for exam in allExams %}
	    		<th>
	    			<h3>
	    				{{ exam.name }}
	    			</h3>
	    		</th>
	    		{% endfor %}
	    	</thead>
	    	<tbody>
	    	{% for examCourse in examCourses %}
		    	{% if examCourse.student.id == examStudent.student.id %}
		    	<tr>
		    		<td>
		    			<h3>
		    				{{ examCourse.course.name }}
		    			</h3>
		    			<small>
		    				{{ examCourse.teacher }}
		    			</small>
		    		</td>
		    		{% for exam in allExams %}
			    	<td>
			    		<h3 class="grade">	
			    		{% if gradeCourses[[examStudent.student.id,examCourse.course.id,examStudent.class.id,exam.id]|join('-')] is defined %}	
			    			{{ gradeCourses[[examStudent.student.id,examCourse.course.id,examStudent.class.id,exam.id]|join('-')].grade }}
			    		{% else %}
			    			&nbsp;
			    		{% endif %}
		    			</h3>
		    		</td>
		    		{% endfor %}
		    	</tr>
		    	{% endif %}
	    	{% endfor %}
	    	<tr>
	    		<td>
	    			<h3>
	    				Прилежание
	    			</h3>
	    		</td>
		    	{% for exam in allExams %}
		    	<td>
		    		<h3 class="grade">
   		    		{%if examDiligence[[examStudent.student.id,examStudent.class.id,exam.id]|join('-')] is defined %}	
		    			{{ examDiligence[[examStudent.student.id,examStudent.class.id,exam.id]|join('-')].grade|round }}
		    		{% else %}
		    			&nbsp;
		    		{% endif %}
		    		</h3>
		    	</td>	    		
	    		{% endfor %}
	    	</tr>
	    	<tr>
	    		<td>
	    			<h3>
	    				Поведение
	    			</h3>
	    		</td>
		    	{% for exam in allExams %}
		    	<td>
		    		<h3 class="grade">
	    		   	{%if examDiscipline[[examStudent.student.id,examStudent.class.id,exam.id]|join('-')] is defined %}	
		    			{{ examDiscipline[[examStudent.student.id,examStudent.class.id,exam.id]|join('-')].grade|round }}
		    		{% else %}
		    			&nbsp;
		    		{% endif %}
		    		</h3>
		    	</td>
	    		{% endfor %}
	    	</tr>
	    	<tr>
	    		<td>
	    			<h3>
	    				Посещаемость
	    			</h3>
	    		</td>
   		      	{% for exam in exams %}
   		      	<td>
   		      		<h3 class="grade">
   		      			{%if examAttendance[[examStudent.student.id,exam.id]|join('-')] is defined %}	
			    			{{ examAttendance[[examStudent.student.id,exam.id]|join('-')].grade }} / 
			    			{{ examAttendance[[examStudent.student.id,exam.id]|join('-')].maxGrade }}
			    		{% else %}
			    			&nbsp;
			    		{% endif %}
   		      		</h3>
   		      	</td>
   		      	{% endfor %}
   		    </tr>	    	
	    	<tr>
	    		<td><h3>Подпись родителей</h3></td>
	    		{% for exam in allExams %}
	    		<td>&nbsp;</td>
	    		{% endfor %}
	    	</tr>	    	
	    	</tbody>
	    </table>
	    <div class="middle" style="margin-top:20px; margin-bottom:10px;">Замечания</div>
	    <table width="100%">
	    	<tr>
	    		<td style="height:20px"></td>
	    	<tr>
	    	<tr>
	    		<td style="height:20px"></td>
	    	<tr>	    	
	    </table>
	    {% if not loop.last %}
	   		<div style="page-break-after: always;">
	   		</div>
	   	{% endif %}
	 {% endfor %}
</div>
{% endblock %} 