{# app/Resources/views/teacher/grades.html.twig #}
{% extends 'base-admin.html.twig' %}

{% block title %}Grades{% endblock %}

{% block body %}
<div class="container">
  <!-- Example row of columns -->
  <a class="btn btn-default" href="/admin" role="button">&lt;&lt; Back</a>
  <a target='_blank' class="btn btn-default" href="/admin/report/grades/print" role="button">Print</a>

	{% for examStudent in examStudents %}
	 <hr>
		<h3>{{ examStudent.class.name }} ({{ examStudent.class.year.name }})</h3>
		<h1>{{ examStudent.student }}</h1>
		<table class="table">
			<thead>
	    		<th>Предмет</th>
	    			{% for exam in allExams %}
	    		<th>{{ exam.name }}</th>
	    			{% endfor %}
	    	</thead>
	    	<tbody>
	    	{% for examCourse in examCourses %}
		    	{% if examCourse.student.id == examStudent.student.id %}
		    	<tr>
		    		<td>
		    			<h3>
		    				{{ examCourse.course.name }}
		    			</h3>
		    			<small>
		    				{{ examCourse.teacher }}
		    			</small>
		    		</td>
			    	{% for exam in allExams %}
			    	<td>
			    		<h3>
			    		{%if examCourses[[examStudent.student.id,examCourse.course.id,examStudent.class.id,exam.id]|join('-')] is defined %}	
			    			{{ examCourses[[examStudent.student.id,examCourse.course.id,examStudent.class.id,exam.id]|join('-')].grade }}
			    		{% else %}
			    			&nbsp;
			    		{% endif %}
			    		</h3>
			    	</td>
		    		{% endfor %}
		    	</tr>
		    	{% endif %}
	    	{% endfor %}
	    	<tr>
	    		<td>
	    			<h3>
	    				Прилежание
	    			</h3>
	    		</td>
		    	{% for exam in exams %}
		    		{% for examDiligence in diligence %}
		    			{% if examDiligence.studentId == examStudent.student.id and
		    		      	examDiligence.classId == examStudent.class.id and
		    		      	examDiligence.examId == exam.id %}
		    		      	<td>
		    		      		<h3>
		    		      			{{ examDiligence.grade|round }}
		    		      		</h3>
		    		      	</td>
		    		     {% endif %}
		    		{% endfor %}
	    		{% endfor %}
	    	</tr>
	    	<tr>
	    		<td>
	    			<h3>
	    				Поведение
	    			</h3>
	    		</td>
		    	{% for exam in exams %}
		    		{% for examDiscipline in discipline %}
		    			{% if examDiscipline.studentId == examStudent.student.id and
		    		      	examDiscipline.classId == examStudent.class.id and
		    		      	examDiscipline.examId == exam.id %}
		    		      	<td>
		    		      		<h3>
		    		      			{{ examDiscipline.grade|round }}
		    		      		</h3>
		    		      	</td>
		    		     {% endif %}
		    		{% endfor %}
	    		{% endfor %}
	    	</tr>	    	
	    	</tbody>
	    </table>
	 {% endfor %}
</div>
{% endblock %} 