{% macro grades(gradeResult) %}
	{% for student in gradeResult.students %}
		<div style="float:left;"><img src="/logo.png" alt="logo" style="margin-left:20px;margin-top:20px;margin-bottom:20px;width:130px;height:130px;"></img></div>
	 	<div>
	 	<div style="float:right;width:150px; height:170px;">&nbsp;</div>
	 	<h1 class="middle">Аттестат</h1>
	 	<h2 class="underline italic bold middle">{{ student.student }}</h2>
		<h4 class="middle">{{ student.class.name }}</h4>
		<h4 class="middle">{{ student.class.year.name }}</h4>
		</div>
		<table width="100%">
			<thead>
	    		<th width="30%"><h3>Предмет</h3></th>
	    		{% for exam in gradeResult.exams %}
	    		<th>
	    			<h3>
	    				{{ exam.name }}
	    			</h3>
	    		</th>
	    		{% endfor %}
	    	</thead>
	    	<tbody>
	    	{% for course in gradeResult.courses %}
		    	{% if course.student.id == student.student.id %}
		    	<tr>
		    		<td>
		    			<h3>
		    				{{ course.course.name }}
		    			</h3>
		    			<small>
		    				{{ course.teacher }}
		    			</small>
		    		</td>
		    		{% for exam in gradeResult.exams %}
			    	<td>
			    		<h3 class="grade">	
			    		{% if gradeResult.grades[[student.student.id,course.course.id,student.class.id,exam.id]|join('-')] is defined %}	
			    			{{ gradeResult.grades[[student.student.id,course.course.id,student.class.id,exam.id]|join('-')].grade }}
			    		{% else %}
			    			&nbsp;
			    		{% endif %}
		    			</h3>
		    		</td>
		    		{% endfor %}
		    	</tr>
		    	{% endif %}
	    	{% endfor %}
	    	<tr>
	    		<td>
	    			<h3>
	    				Прилежание
	    			</h3>
	    		</td>
		    	{% for exam in gradeResult.exams %}
		    	<td>
		    		<h3 class="grade">
   		    		{%if gradeResult.diligence[[student.student.id,student.class.id,exam.id]|join('-')] is defined %}	
		    			{{ gradeResult.diligence[[student.student.id,student.class.id,exam.id]|join('-')].grade|round }}
		    		{% else %}
		    			&nbsp;
		    		{% endif %}
		    		</h3>
		    	</td>	    		
	    		{% endfor %}
	    	</tr>
	    	<tr>
	    		<td>
	    			<h3>
	    				Поведение
	    			</h3>
	    		</td>
		    	{% for exam in gradeResult.exams %}
		    	<td>
		    		<h3 class="grade">
	    		   	{%if gradeResult.discipline[[student.student.id,student.class.id,exam.id]|join('-')] is defined %}	
		    			{{ gradeResult.discipline[[student.student.id,student.class.id,exam.id]|join('-')].grade|round }}
		    		{% else %}
		    			&nbsp;
		    		{% endif %}
		    		</h3>
		    	</td>
	    		{% endfor %}
	    	</tr>
	    	<tr>
	    		<td>
	    			<h3>
	    				Посещаемость
	    			</h3>
	    		</td>
   		      	{% for exam in gradeResult.exams %}
   		      	<td>
   		      		<h3 class="grade">
   		      			{%if gradeResult.attendance[[student.student.id,exam.id]|join('-')] is defined %}	
			    			{{ gradeResult.attendance[[student.student.id,exam.id]|join('-')].grade }} / 
			    			{{ gradeResult.attendance[[student.student.id,exam.id]|join('-')].maxGrade }}
			    		{% else %}
			    			&nbsp;
			    		{% endif %}
   		      		</h3>
   		      	</td>
   		      	{% endfor %}
   		    </tr>	    	
	    	<tr>
	    		<td><h3>Подпись родителей</h3></td>
	    		{% for exam in gradeResult.exams %}
	    		<td>&nbsp;</td>
	    		{% endfor %}
	    	</tr>	    	
	    	</tbody>
	    </table>
	    <div class="middle" style="margin-top:20px; margin-bottom:10px;">Замечания</div>
	    <table width="100%">
	    	<tr>
	    		<td style="height:20px"></td>
	    	<tr>
	    	<tr>
	    		<td style="height:20px"></td>
	    	<tr>	    	
	    </table>
	    {% if not loop.last %}
	   		<div style="page-break-after: always;">
	   		</div>
	   	{% endif %}
	 {% endfor %}
{% endmacro %}