{% macro grades(gradeResult) %}
    {% for student in gradeResult.students %}
	 <hr>
		<h3>{{ student.class.name }} ({{ student.class.year.name }})</h3>
		<h1>{{ student.student }}</h1>
		<table class="table">
			<thead>
	    		<th>Предмет</th>
	    			{% for exam in gradeResult.exams %}
	    		<th>{{ exam.name }}</th>
	    			{% endfor %}
	    	</thead>
	    	<tbody>
	    	{% for course in gradeResult.courses %}
		    	{% if course.student.id == student.student.id %}
		    	<tr>
		    		<td>
		    			<h3>
		    				{{ course.course.name }}
		    			</h3>
		    			<small>
		    				{{ course.teacher }}
		    			</small>
		    		</td>
			    	{% for exam in gradeResult.exams %}
			    	<td>
			    		<h3>
			    		{%if gradeResult.grades[[student.student.id,course.course.id,student.class.id,exam.id]|join('-')] is defined %}	
			    			{{ gradeResult.grades[[student.student.id,course.course.id,student.class.id,exam.id]|join('-')].grade }}
			    		{% else %}
			    			&nbsp;
			    		{% endif %}
			    		</h3>
			    	</td>
		    		{% endfor %}
		    	</tr>
		    	{% endif %}
	    	{% endfor %}
	    	<tr>
	    		<td>
	    			<h3>
	    				Прилежание
	    			</h3>
	    		</td>
		    	{% for exam in gradeResult.exams %}
   		      	<td>
   		      		<h3>
   		    		{%if gradeResult.diligence[[student.student.id,student.class.id,exam.id]|join('-')] is defined %}	
		    			{{ gradeResult.diligence[[student.student.id,student.class.id,exam.id]|join('-')].grade|round }}
		    		{% else %}
		    			&nbsp;
		    		{% endif %}
		    		</h3>
   		      	</td>
   		      	{% endfor %}
	    	</tr>
	    	<tr>
	    		<td>
	    			<h3>
	    				Поведение
	    			</h3>
	    		</td>
		    	{% for exam in gradeResult.exams %}
   		      	<td>
   		      		<h3>
   		      			{%if gradeResult.discipline[[student.student.id,student.class.id,exam.id]|join('-')] is defined %}	
			    			{{ gradeResult.discipline[[student.student.id,student.class.id,exam.id]|join('-')].grade|round }}
			    		{% else %}
			    			&nbsp;
			    		{% endif %}
   		      		</h3>
   		      	</td>
   		      	{% endfor %}
   		   </tr>
   		   <tr>
   		      	<td>
	    			<h3>
	    				Посещаемость
	    			</h3>
	    		</td>
   		      	{% for exam in gradeResult.exams %}
   		      	<td>
   		      		<h3>
   		      			{%if gradeResult.attendance[[student.student.id,exam.id]|join('-')] is defined %}	
			    			{{ gradeResult.attendance[[student.student.id,exam.id]|join('-')].grade }} / 
			    			{{ gradeResult.attendance[[student.student.id,exam.id]|join('-')].maxGrade }}
			    		{% else %}
			    			&nbsp;
			    		{% endif %}
   		      		</h3>
   		      	</td>
   		      	{% endfor %}
	    	</tr>	    	
	    	</tbody>
	    </table>
	 {% endfor %}
{% endmacro %}