{# app/Resources/mail/gradesReport.html.twig #}
{% import 'report/macro_grades.html.twig' as report %}
<html>
<head>
<title>Score report</title>
</head>
<body>
<h3>Уважаемый/ая {{ user.firstName }} {{ user.lastName }}!</h3>
<p>Направляем вам отметки ваших детей.</p>
<p>
<p>С уважением,</p>
<p>Школа Святого Сергия Радонежского</p>
<hr/>
<h3>Dear {{ user.firstName }} {{ user.lastName }},</h3>
<p>Please find your children grades below. </p>
<p>
<p>With respect,</p>
<p>St. Sergius Learning Center</p>
<div>
	{{ report.grades(gradeResult) }}
</div>
</body>
</html>
