{# app/Resources/mail/grades.html.twig #}

<h3>Уважаемый/ая {{ user.firstName }} {{ user.lastName }}</h3>

Вы забыли поставить отметки!

Пожалуйста, откройте веб страницу системы GradeBook на вашем компьютере или смартфоне:

http://grades.stsergiuslc.com/teacher

Ваш логин: {{ user.username }}
Если вы заходите в систему первый раз то ваш пароль: 0000
Если вы забыли пароль или хотите его сбросить, пожалуста обратитесь к Павлу Молчанову по e-mail: pmolchanov2002@gmail.com или по телефону (845) 553-0997

Если у вас будут трудности с работой с системой, принесите отметки в школу и мы занесем их вместе в систему.

Спасибо.

--------------------------------------------------------------

<h3>Dear {{ user.firstName }} {{ user.lastName }},</h3>

You forget to fill in the students' grades!

Please open GradeBook web page in your browser:

http://grades.stsergiuslc.com/teacher

And login using your account: {{ user.username }}
If you login first time your password is: 0000
If you forget your password or want to reset it please send an e-mail to pavel@stsergiuslc.com or call by phone (845) 553-0997.

Should you have difficulties witht the system, please bring grades to the school this Saturday and we will enter them together in the system.

Thanks you.


