    <div>&nbsp;</div>
    <h2>Виртуальные уроки:</h2>
    <div>&nbsp;</div>
    <div>Школа открывается с молитвы и общего собрания в 9:10 AM в субботу. Ссылка на общее собрание: <a href="https://us04web.zoom.us/j/8626417376?pwd=U3oxV3ZjT0xnL3M0cHl5MzJDeGdsZz09">https://us04web.zoom.us/j/8626417376?pwd=U3oxV3ZjT0xnL3M0cHl5MzJDeGdsZz09</a>. Пароль: <span class="pass">011086</span></div>
    <div>&nbsp;</div>
    <div>Нажмите на ссылку WebLink, чтобы начать виртуальный урок.</div>
    <div>Если учитель не начал урок, Zoom поставит Вас в режим ожидания. Дождитесь, когда подключится учитель и не выходите из программы. Просто ждите, когда подключится учитель.</div>

    {% for studentLesson in studentLessons %}
       <table class="table">
        <thead>
          <tr>
            <th>Начало урока</th>
            <th>Предмет</th>
            <th>WebLink</th>
            <th>Пароль</th>
            <th>Учитель</th>
            <th>Телефон</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="high">09:10</td>
            <td class="high">Общее собрание и молитва</td>
            <td class="high"><a href="https://us04web.zoom.us/j/8626417376?pwd=U3oxV3ZjT0xnL3M0cHl5MzJDeGdsZz09">https://us04web.zoom.us/j/8626417376?pwd=U3oxV3ZjT0xnL3M0cHl5MzJDeGdsZz09</a></td>
            <td class="pass">011086</td>
            <td class="high">Молчанов Павел</td>
            <td class="high"><a href="tel:8455530997">(845)-553-0997</a></td>
          </tr>
          {% for lesson in studentLesson.lessons %}
            {% if lesson.meetingLink is not empty %}
              <tr style="padding-bottom: 5px">
                <td>{{ lesson.period.startTime|date("H:i") }}</td>
                <td>{{ lesson.course.name }}</td>
                <td><a href="{{ lesson.meetingLink }}">{{ lesson.meetingLink }}</a></td>
                <td class="pass">{{ lesson.meetingPassword }}</td>
                <td>{{ lesson.teacher.firstName }} {{ lesson.teacher.lastName }}</td>
                <td  style="white-space: nowrap"><a href="tel:{{ lesson.teacher.mobilePhone }}">{{ lesson.teacher.mobilePhone }}</a></td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    {% endfor %}


