    <div>&nbsp;</div>
    <h2>Virtual lessons:</h2>
    <div>&nbsp;</div>

    <table class="table">
      <thead>
        <tr>
          <th>Start time</th>
          <th>End time</th>
          <th>Grade</th>
          <th>Subject</th>
          <th>WebLink</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="high">09:10</td>
          <td class="high">09:20</td>
          <td class="high">All classes</td>
          <td class="high">Common meeting and praying</td>
          <td class="high"><a href="https://us04web.zoom.us/j/8626417376">https://us04web.zoom.us/j/8626417376</a></td>
        </tr>
        {%for lesson in lessons %}
          {% if lesson.meetingLink is not empty %}
            <tr>
              <td>{{ lesson.period.startTime|date("H:i") }}</td>
              <td>{{ lesson.period.endTime|date("H:i") }}</td>
              <td>{{ lesson.classOfStudents.name }}</td>
              <td>{{ lesson.course.name }}</td>
              <td>{{ lesson.meetingLink }}</td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
