
    <table class="table">
      <thead>
        <tr>
          <th>Класс</th>
          <th>Предмет</th>
          <th>Урок</th>
          <th>Начало урока</th>
          <th>Конец урока</th>
          <th>Студенты</th>
        </tr>
      </thead>
      <tbody>
        {%for lesson in lessons %}
          <tr>
            <td>{{ lesson.classOfStudents.name }}</td>
            <td>{{ lesson.course.name }}</td>
            <td>{{ lesson.period.name }}</td>
            <td>{{ lesson.period.startTime|date("H:i") }}</td>
            <td>{{ lesson.period.endTime|date("H:i") }}</td>
            <td>
              <table>
                <thead>
                  <th>Студент</th>
                  <th>Родитель</th>
                  <th>Email</th>
                  <th>Телефон</th>
                  <th>Телефон</th>
                </thead>
                {% for student in lesson.classOfStudents.students %}
                {% for parent in student.parents %}
                  <tr>
                    <td>{{ student.firstName }} {{ student.lastName }}</td>
                    <td>{{ parent.firstName }} {{ parent.lastName }}</td>
                    <td>{{ parent.email }}</td>
                    <td>{{ parent.mobilePhone }}</td>
                    <td>{{ parent.homePhone }}</td>
                  </tr>
                {% endfor %}
                {% endfor %}
                </table>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
