
    <table class="table">
      <thead>
        <tr>
          <th>Класс</th>
          <th>Предмет</th>
          <th>Урок</th>
          <th>Начало урока</th>
          <th>Конец урока</th>
          <th>Студенты</th>
        </tr>
      </thead>
      <tbody>
        {%for lesson in lessons %}
          <tr>
            <td>{{ lesson.classOfStudents.name }}</td>
            <td>{{ lesson.course.name }}</td>
            <td>{{ lesson.period.name }}</td>
            <td>{{ lesson.period.startTime|date("H:i") }}</td>
            <td>{{ lesson.period.endTime|date("H:i") }}</td>
            <td>
	        	  {% for student in lesson.classOfStudents.students %}
        				<div>{{ student.firstName }} {{ student.lastName }}</div>
    				  {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
