
    <h2>Виртуальные уроки:</h2>
    <div>&nbsp;</div>
    <div>Когда ученики начнут заходить в комнату, вам надо нажать <span class="admit">Admit</span>, чтобы пустить их на урок.</div>
    <div>&nbsp;</div>
    <div>Школа открывается с молитвы в 9:10 AM в субботу. Ссылка на молитву: <a href="">https://us04web.zoom.us/j/8626417376?pwd=U3oxV3ZjT0xnL3M0cHl5MzJDeGdsZz09</a>.</div>
    <div>&nbsp;</div>
    <div>Нажмите на ссылку WebLink, чтобы начать виртуальный урок.</div>
    <div>Учитель должен первым зайти в Zoom и подключиться к уроку. Все остальные будут в режиме ожидания, пока учитель не подключится. Будьте пунктуальны и начинайте урок на 2-3 минуты раньше.</div>
    <div>&nbsp;</div>

    <table class="table">
      <thead>
        <tr>
          <th>Начало урока</th>
          <th>Конец урока</th>
          <th>Класс</th>
          <th>Предмет</th>
          <th>WebLink</th>
          <th>Пароль</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="high">09:10</td>
          <td class="high">09:20</td>
          <td class="high">Все классы</td>
          <td class="high">Общее собрание и молитва</td>
          <td class="high"><a href="https://us04web.zoom.us/j/8626417376?pwd=U3oxV3ZjT0xnL3M0cHl5MzJDeGdsZz09">https://us04web.zoom.us/j/8626417376?pwd=U3oxV3ZjT0xnL3M0cHl5MzJDeGdsZz09</a></td>
          <td class="pass"></td>
        </tr>
        {% for lesson in lessons %}
              {% if lesson.substitute %}
                {% set teacher = lesson.substitute %}
              {% else %}
                {% set teacher = lesson.teacher %}
              {% endif %}
            <tr>
              <td>{{ lesson.period.startTime|date("H:i") }}</td>
              <td>{{ lesson.period.endTime|date("H:i") }}</td>
              <td>{{ lesson.classOfStudents.name }}</td>
              <td>{{ lesson.course.name }}</td>
              <td><a href="{{ teacher.meetingLink }}">{{ teacher.meetingLink }}</a></td>
              <td class="pass">{{ teacher.meetingPassword }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <div>&nbsp;</div>
    <h2>Ученики и родители:</h2>
    <div>&nbsp;</div>

    <table class="table">
      <thead>
        <tr>
          <th>Класс</th>
          <th>Предмет</th>
          <th>Студенты</th>
        </tr>
      </thead>
      <tbody>
        {%for lesson in lessons %}
            <tr>
              <td>{{ lesson.classOfStudents.name }}</td>
              <td>{{ lesson.course.name }}</td>
              <td>
                {% set emails = ['administration@stsergiuslc.com'] %}
                <table>
                  <thead>
                    <th>Студент</th>
                    <th>Родитель</th>
                    <th>Email</th>
                    <th>Телефон</th>
                    <th>Телефон</th>
                  </thead>
                  {% for student in lesson.classOfStudents.students %}
                    {% for parent in student.parents %}
                      <tr>
                        <td>{{ student.firstName }} {{ student.lastName }}</td>
                        <td>{{ parent.firstName }} {{ parent.lastName }}</td>
                        <td>{{ parent.email }}</td>
                        <td style="white-space: nowrap">
                          {% if parent.mobilePhone is not empty %}
                            <a href="tel:{{ parent.mobilePhone }}">{{ parent.mobilePhone }}</a>
                          {% endif %}
                        </td>
                        <td style="white-space: nowrap">
                          {% if parent.homePhone is not empty %}
                            <a href="tel:{{ parent.homePhone }}">{{ parent.homePhone }}</a>
                          {% endif %}
                        </td>
                      </tr>
                      {% if parent.email is not empty %}
                        {% set emails = emails|merge([parent.email]) %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  </table>
                  <div>
                  <div>Emails: <a href="mailto:{{ emails|join(',') }}">{{ emails|join(', ') }}</a></div>
                  <div>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <div>&nbsp;</div>
    <div>Пожалуйста, позвоните родителям до субботы и проверьте, что ссылки на виртуальные уроки работают и у вас нет проблем с подключением. Если у вас возникнут проблемы с подключением, созвонитесь с Павлом Молчановым по телефону (845) 553-0997.</div>
